@CHARSET "ISO-8859-1";

#left{
position: relative;
    top: 70px;
    left:+30%;
    margin:0px 20px;

}

#center{
	position: relative;
}
#right{
	position:relative;
	top: -207px;
	left:+50%;
}

#textarea{
	position: relative;
	top: 100px;
	left: +3%;
}

#big{
	width:30%;
}

